[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
arrow = "==0.15.7"
certifi = "==2020.6.20"
chardet = "==3.0.4"
ics = "==0.7"
idna = "==2.9"
numpy = "==1.19.0"
python-dateutil = "==2.8.1"
requests = "==2.24.0"
six = "==1.14.0"
urllib3 = "==1.25.8"
TatSu = "==5.5.0"
XlsxWriter = "==1.2.9"

[requires]
python_version = "3.7"
